* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

.body-index{
    width: 210vh;
    min-width:80vh;
    height: auto;
}

.content-img {

    padding: 380px 0;
    background-image: url('../img/cohete-img-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    display: flex;
    justify-content: space-around;
    margin-top: -350px;
    flex-wrap: wrap;

}

li {
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

a {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: white;
}

a:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: white;
    transition: right .2s;
}

a:hover:after {
    right: 0;
}


/*logo*/
.logo {
    margin-top: -190px;
}

.content-phrase {
    position: absolute;
    z-index: 100;
    color: white;
    margin-top: -400px;
    margin-left: 30px;

}

.content-phrase-2 {
    position: absolute;
    z-index: 100;
    color: white;
    margin-top: -50px;
    margin-left: 30px;
}

.content-phrase,
.recent {
    font-size: 20px;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.content-phrase,
.crs {
    font-size: 50px;

    text-shadow: 0.5px 0.5px 0.5px black;
}


/*SEGUNDA IMAGEN*/

.content-img-2 {
    width: 100%;
    height: auto;
    padding: 380px 0;
    background-image: url('../img/shop-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}


.button-rewach {
    padding: 20px 40px;
    border: 2px solid #fafafa;
    color: #fafafa;
    background-color: transparent;
    font-size: 20px;
}


.content-img-3 {
    width: 100%;
    height: auto;
    padding: 380px 0;
    background-image: url('../img/img-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}




/*+++++++++++++++++++++++++++++++++++++SHOP++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*IMAGEN PRINCIPAL DE FONDO*/
.content-img-shop {
    width: 210vh;
    min-width:200vh;
    height: auto;
    padding: 380px 0;
    background-image: url('../img/img-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.shop-space {
    color: white;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 2rem;
    margin: auto;
    text-align: center;
}

.feature-prducts {
    text-align: center;
    font-size: 2rem;
    letter-spacing: .5rem;
    margin: 20px 0;
}



.img {
    width: 450px;
    height: 450px;
}

.content-cards {
    display: flex;
    width: 80%;
    margin:auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.content-card{
    margin-bottom: 20px;;
}
.card-body {
    text-align: center;
    margin: auto;
}

.btn {
    padding: 6px 20px;
    margin-top:5px;
}

.btn:hover{
    background-color: rgb(0, 0, 39);
    color:white;
    transition: all 0.5s ease-out;
}


/*search formulario*/
.form{
    display:flex ;
    align-items: center;
    justify-content:space-around;
    margin-bottom: 20px;;
}

.form-control{
    padding:6px 20px;
}


/*CART*/
.container-cart{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 20px;;
}

.carrito{
    font-size:30px;
    cursor:pointer;
}

.carrito:hover{
   color: rgb(201, 97, 0);

}
.contador{
    font-size:30px;
}



/*MAIN*/
.contain-main{
    width: 210vh;
    min-width:200vh;


    height: auto;   
}





/*POPUP QUE APARECE CON LOS ELEMENTOS DEL CARRITO*/
.container-popup{
    background-color:black;
    opacity:0;
    margin-left:200px;;
    cursor: pointer;
    padding:180px 350px;
    position: absolute;
    color: #fff;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.popupInside{
    display: flex;
    flex-direction: column;
    align-items:baseline;
}